

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}
body, input, textarea {
    font-family: 'Lato', arial, sans-serif;
}
.button {
    padding: 1rem 2rem;
    display: inline-block;
    min-width: 180px;
    vertical-align: top;
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    background: #f8165d;
    color: #fff;
    transition: ease all 250ms;
    position: relative;
    border-radius: 4px;
}
.button.reverse {
    border: 1px solid #f8165d;
    background: #fff;
    color: #f8165d
}
.button:before {
    content: '';
    background: rgba(0,0,0,.1);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    transition: ease all 250ms;
}

.button:hover:before {
    top: 0;
}

@media screen and (min-width: 768px) {
    .postTitle {
        min-height: 104px;
    }
}
.pageContainer {
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto
}

.youtube-player {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}
.youtube-player iframe, .youtube-player div {
    width: 100%;
    height: 100%;
    z-index: 8;
    background: transparent;
}
.youtube-player img {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 100%;
    border: none;
    height: auto;
    cursor: pointer;
    transition: 0.4s all;
}
.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}
.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("//i.imgur.com/TxzC70f.png") no-repeat;
    cursor: pointer;
}

#footer {
    background: #000;
    padding: 1rem;
}

#footer .col-lg-1 {
    padding-left: 0;
}

#footer p {
    font-size: 13px;
    color: #999;
    font-weight: 300;
}

#footer p span {
    font-weight: 900;
    display: block;
    font-size: 1rem;
}


#footer .f-middle {
    margin: 30px 0;
}

#footer .f-btn {
    font-weight: 900;
    color: #fff;
    font-size: 14px;
    background: #F21559;
    border-radius: 5px;
    padding: 15px 30px;
    display: inline-block;
}

#footer .col-lg-3 .f-btn {
    font-size: 14px;
}

#footer .grey-line {
    border: 1px solid #333;
    margin-top: 52px;
}

#footer h4 {
    font-weight: 900;
    color: #fff;
    font-size: 16px;
}

#footer .button {
    font-size: 14px;
    font-weight: 900
}

#footer .f-socials, #footer .f-copy, #footer .f-links {
    text-align: right;
}

#footer .f-socials a, #footer .f-links a {
    display: inline-block;
    padding-left: 15px;
}

#footer .f-socials a {
    padding-left: 45px;
    padding-bottom: 30px;
}

#footer .container-fluid, #footer .container-fluid .col-lg-6 {
    margin: 30px 0 0;
    padding: 15px 0 0;
}

#footer .container-fluid .row {
    margin-left: -45px;
    margin-right: -45px;
}

#footer .f-banners h5 {
    font-size: 23px;
    font-weight: 900;
    padding: 30px;
}

#footer .left {
    background: #E7F5FF;
    margin: 0;
}

#footer .left h5 {
    color: #180F4C;
}

#footer .left .f-left, #footer .left .f-right {
    float: right;
}

#footer .left .f-left {
    padding-right: 120px;
}

#footer .call {
    margin: 35px 30px;
}

#footer .call p {
    color: #180F4C;
    font-size: 12px;
    font-weight: 300;
    padding: 5px 0 0 2px;
}

#footer .right {
    background: #180F4C;
}

#footer .right .f-left, #footer .right .f-right {
    float: left;
}

#footer .right h5 {
    color: #fff;
    padding-bottom: 5px;
}

#footer .right-call {
    margin-top: 35px;
}

#footer .right p {
    color: #fff;
    font-size: 16px;
    padding-left: 30px;
}

@media screen and (max-width: 768px) {
    #footer .col-lg-1 img{
        padding: 30px 0 30px 15px;
    }
    #footer .grey-line{
        display: none;
    }
    #footer h4 {
        padding-top: 20px;
    }
    #footer .f-socials, #footer .f-copy, #footer .f-links {
        text-align: left;
    }
    #footer .f-socials {
        padding-top: 30px;
    }
    #footer .f-socials a {
        padding-left: 15px;
    }
    #footer .call {
        margin-bottom: 0;
    }
    #footer .container-fluid .col-lg-6 {
        margin-top: 0;
        padding-top: 0;
    }
    #footer .right .f-right {
        float: right;
        margin: 0 15px 30px 0;
    }
}

#newsletter {
    padding: 20px;
    text-align: center;
    background-color: #180f4c;
}

#newsletter h4 {
    font-size: 23px;
    font-weight: 900;
    color: #0099FE;
}

#newsletter h3 {
    font-size: 58px;
    color: #FFFFFF;
    padding: 0 0 10px;
    font-weight: 900;
}

#newsletter span.message_success {
    color: #fff;
}

#newsletter .line {
    width: 80px;
}

#newsletter form {
    padding-top: 3rem;
}

.freshMailPopUp__body  {
    max-width: 100%!important;
}

#newsletter input.field {
    padding-left: 15px!important;
}

#newsletter form input {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0 4px 0 0 #E7E7E7;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 10px;
}

#newsletter form button {
    color: #FFFFFF!important;
    padding: 20px;
    font-size: 16px!important;
    font-weight: 900!important;
    background: transparent!important;
    border: none;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {

    #newsletter form {
        margin: 0 auto;
        display: block;
        width: 600px;
    }

    #newsletter form label {
        text-align: left;
    }

    #newsletter form input {
        width: 600px;
        position: absolute;
        padding: 12px;
    }

    #newsletter form button {
        color: #F21559!important;
        position: relative;
        bottom: 0;
    }

}

ul.ubermenu-submenu.ubermenu-submenu-id-112.ubermenu-submenu-type-stack.ubermenu-submenu-indent {
    padding-left: 0;
}

#post-134 p {
    margin-bottom: 1rem;
}

/* bottom-contact */
#bottom-contact {
    z-index: 9999;
}
#bottom-contact .container-fluid, #bottom-contact .container-fluid .col-lg-4, #bottom-contact .container-fluid .col-lg-8 {
    margin: 0;
    padding: 0;
}

#bottom-contact .container-fluid .col-lg-4, #bottom-contact .container-fluid .col-lg-8 {
    padding: 25px 0;
}

#bottom-contact .f-banners h5 {
    font-size: 23px;
    font-weight: 900;
    padding-left: 40px;
    padding-right: 30px;
    margin: 0;
}

#bottom-contact .left {
    background: #E7F5FF;
    margin: 0;
    display: flex;
}

#bottom-contact .left h5 {
    color: #180F4C;
}

#bottom-contact .call, #bottom-contact .heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-contact .call a {
    margin-right: 30px;
}

#bottom-contact .right {
    background: #180F4C;
    display: flex;
}

#bottom-contact .right h5 {
    color: #fff;
    padding-left: 30px;
}

#bottom-contact .right-call {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-contact .right-call a {
    margin-right: 30px;
}

#bottom-contact .heading span {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
@media screen and (max-width: 1400px) {
    #bottom-contact .f-banners h5 {
        font-size: 18px;
        padding: 0 10px
    }
    #bottom-contact .call a {
        margin-right: 0;
        min-width: 140px;
    }
}

@media screen and (max-width: 768px) {

    .form-submit input#submit {
        width: 100%;
    }
    #footer .col-lg-1 img{
        padding: 30px 0 30px 15px;
    }
    #footer .grey-line{
        display: none;
    }
    #footer h4 {
        padding-top: 20px;
    }
    #footer .f-banners {
        display: none;
    }
    #footer .f-socials, #footer .f-copy, #footer .f-links {
        text-align: left;
    }
    #footer .f-socials {
        padding-top: 30px;
    }
    #footer .f-socials a {
        padding-left: 15px;
    }
    #footer .call {
        margin-bottom: 0;
    }
    #footer .container-fluid .col-lg-6 {
        margin-top: 0;
        padding-top: 0;
    }
    #footer .right .f-right {
        float: right;
        margin: 0 15px 30px 0;
    }
    .category-single {
        width: 100%;
    }
    .content h1, #list-top h1 {
        font-size: 4rem;
    }
    .thumbnail img {
        height: auto;
    }
}

#bottom-contact {
    background-color: transparent; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    bottom: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: bottom .7s; /* Transition effect when sliding down (and up) */
    z-index: 9999;
}

#footer .f-btn, #bottom-contact .f-btn {
    font-weight: 900;
    color: #fff;
    font-size: 14px;
    background: #F21559;
    border-radius: 5px;
    padding: 15px 30px;
    display: inline-block;
}

div.wpcf7-response-output {
    text-align: center;
    padding: 20px;
}

/* ! tailwindcss v2.2.15 | MIT License | https://tailwindcss.com */

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

html {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
	font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}

/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #838589;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #838589;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #838589;
}

button,
[role="button"] {
  cursor: pointer;
}

/**
 * Override legacy focus reset from Normalize with modern Firefox focus styles.
 *
 * This is actually an improvement over the new defaults in Firefox in our testing,
 * as it triggers the better focus styles even for links, which still use a dotted
 * outline in Firefox by default.
 */

:-moz-focusring {
	outline: auto;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * 1. Make replaced elements `display: block` by default as that's
 *    the behavior you want almost all of the time. Inspired by
 *    CSS Remedy, with `svg` added as well.
 *
 *    https://github.com/mozdevs/cssremedy/issues/14
 * 
 * 2. Add `vertical-align: middle` to align replaced elements more
 *    sensibly by default when overriding `display` by adding a
 *    utility like `inline`.
 *
 *    This can trigger a poorly considered linting error in some
 *    tools but is included by design.
 * 
 *    https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/**
 * Constrain images and videos to the parent width and preserve
 * their intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

/**
 * Ensure the default browser behavior of the `hidden` attribute.
 */

[hidden] {
  display: none;
}

*, ::before, ::after {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-border-opacity: 1;
    border-color: rgba(171, 166, 193, var(--tw-border-opacity));
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-blur: var(--tw-empty,/*!*/ /*!*/);
    --tw-brightness: var(--tw-empty,/*!*/ /*!*/);
    --tw-contrast: var(--tw-empty,/*!*/ /*!*/);
    --tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
    --tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
    --tw-invert: var(--tw-empty,/*!*/ /*!*/);
    --tw-saturate: var(--tw-empty,/*!*/ /*!*/);
    --tw-sepia: var(--tw-empty,/*!*/ /*!*/);
    --tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
    --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.fixed {
    position: fixed;
}
.relative {
    position: relative;
}
.inset-x-0 {
    left: 0px;
    right: 0px;
}
.top-0 {
    top: 0px;
}
.z-10 {
    z-index: 10;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.m-auto {
    margin: auto;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.-mx-2 {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}
.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.-my-4 {
    margin-top: -1rem;
    margin-bottom: -1rem;
}
.mb-4 {
    margin-bottom: 1rem;
}
.mr-2 {
    margin-right: 0.5rem;
}
.mt-8 {
    margin-top: 2rem;
}
.mb-8 {
    margin-bottom: 2rem;
}
.mt-4 {
    margin-top: 1rem;
}
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
.inline {
    display: inline;
}
.flex {
    display: flex;
}
.hidden {
    display: none;
}
.h-full {
    height: 100%;
}
.min-h-screen {
    min-height: 100vh;
}
.w-full {
    width: 100%;
}
.max-w-screen-sm {
    max-width: 640px;
}
.max-w-xs {
    max-width: 20rem;
}
.-rotate-45 {
    --tw-rotate: -45deg;
    transform: var(--tw-transform);
}
.resize {
    resize: both;
}
.flex-wrap {
    flex-wrap: wrap;
}
.overflow-hidden {
    overflow: hidden;
}
.rounded-lg {
    border-radius: 0.5rem;
}
.rounded-md {
    border-radius: 0.375rem;
}
.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(245, 245, 245, var(--tw-bg-opacity));
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.bg-violet-dark {
    --tw-bg-opacity: 1;
    background-color: rgba(32, 21, 76, var(--tw-bg-opacity));
}
.bg-violet-darker {
    --tw-bg-opacity: 1;
    background-color: rgba(53, 43, 93, var(--tw-bg-opacity));
}
.bg-violet-light {
    --tw-bg-opacity: 1;
    background-color: rgba(62, 46, 139, var(--tw-bg-opacity));
}
.fill-current {
    fill: currentColor;
}
.p-2 {
    padding: 0.5rem;
}
.p-4 {
    padding: 1rem;
}
.p-1 {
    padding: 0.25rem;
}
.p-10 {
    padding: 2.5rem;
}
.p-8 {
    padding: 2rem;
}
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.px-0 {
    padding-left: 0px;
    padding-right: 0px;
}
.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.pr-0 {
    padding-right: 0px;
}
.pt-10 {
    padding-top: 2.5rem;
}
.pb-4 {
    padding-bottom: 1rem;
}
.text-center {
    text-align: center;
}
.align-top {
    vertical-align: top;
}
.align-middle {
    vertical-align: middle;
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.font-light {
    font-weight: 300;
}
.font-bold {
    font-weight: 700;
}
.font-black {
    font-weight: 900;
}
.text-gray-300 {
    --tw-text-opacity: 1;
    color: rgba(152, 152, 152, var(--tw-text-opacity));
}
.text-gray-800 {
    --tw-text-opacity: 1;
    color: rgba(62, 62, 62, var(--tw-text-opacity));
}
.text-violet-dark {
    --tw-text-opacity: 1;
    color: rgba(32, 21, 76, var(--tw-text-opacity));
}
.text-cyan {
    --tw-text-opacity: 1;
    color: rgba(37, 157, 254, var(--tw-text-opacity));
}
.text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-cyan-dark {
    --tw-text-opacity: 1;
    color: rgba(0, 147, 241, var(--tw-text-opacity));
}
.text-gray-200 {
    --tw-text-opacity: 1;
    color: rgba(171, 166, 193, var(--tw-text-opacity));
}
.text-gray-100 {
    --tw-text-opacity: 1;
    color: rgba(245, 245, 245, var(--tw-text-opacity));
}
.text-violet {
    --tw-text-opacity: 1;
    color: rgba(52, 38, 120, var(--tw-text-opacity));
}
.text-black {
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity));
}
.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

@media screen and (max-width: 1100px) {
    .box-wrap .last {
        text-align: center
    }
    .box-wrap .last .button {
        display: block;
        float: none;
        margin: 0.5rem auto 0
    }
}
@media screen and (min-width: 768px) {
    .box:before {
        content: '';
        background: #f8165d;
        position: absolute;
        left: 1.5rem;
        top: 50%;
        margin-top: -0.5rem;
        width: 1rem;
        height: 1rem;
        border-radius: 50%
    }
}
@media screen and (max-width: 768px) {
    .box-wrap .last {
        text-align: left
    }
}
.hover\:text-cyan:hover {
    --tw-text-opacity: 1;
    color: rgba(37, 157, 254, var(--tw-text-opacity));
}
@media (prefers-color-scheme: dark) {
    .dark\:bg-gray-800 {
        --tw-bg-opacity: 1;
        background-color: rgba(62, 62, 62, var(--tw-bg-opacity));
    }
    .dark\:bg-gray-400 {
        --tw-bg-opacity: 1;
        background-color: rgba(131, 133, 137, var(--tw-bg-opacity));
    }
    .dark\:bg-gray-300 {
        --tw-bg-opacity: 1;
        background-color: rgba(152, 152, 152, var(--tw-bg-opacity));
    }
    .dark\:text-white {
        --tw-text-opacity: 1;
        color: rgba(255, 255, 255, var(--tw-text-opacity));
    }
    .dark\:text-gray-100 {
        --tw-text-opacity: 1;
        color: rgba(245, 245, 245, var(--tw-text-opacity));
    }
    .dark\:grayscale {
        --tw-grayscale: grayscale(100%);
        filter: var(--tw-filter);
    }
}
@media (min-width: 640px) {
    .sm\:float-left {
        float: left;
    }
    .sm\:w-6\/12 {
        width: 50%;
    }
    .sm\:border-gray-100 {
        --tw-border-opacity: 1;
        border-color: rgba(245, 245, 245, var(--tw-border-opacity));
    }
    .sm\:pl-16 {
        padding-left: 4rem;
    }
}
@media (min-width: 768px) {
    .md\:fixed {
        position: fixed;
    }
    .md\:absolute {
        position: absolute;
    }
    .md\:float-right {
        float: right;
    }
    .md\:float-left {
        float: left;
    }
    .md\:float-none {
        float: none;
    }
    .md\:-mx-4 {
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .md\:my-6 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .md\:mb-6 {
        margin-bottom: 1.5rem;
    }
    .md\:inline-block {
        display: inline-block;
    }
    .md\:table {
        display: table;
    }
    .md\:table-cell {
        display: table-cell;
    }
    .md\:w-6\/12 {
        width: 50%;
    }
    .md\:w-auto {
        width: auto;
    }
    .md\:w-2\/12 {
        width: 16.666667%;
    }
    .md\:w-4\/12 {
        width: 33.333333%;
    }
    .md\:border-r {
        border-right-width: 1px;
    }
    .md\:border-solid {
        border-style: solid;
    }
    .md\:border-gray-100 {
        --tw-border-opacity: 1;
        border-color: rgba(245, 245, 245, var(--tw-border-opacity));
    }
    .md\:p-4 {
        padding: 1rem;
    }
    .md\:p-3 {
        padding: 0.75rem;
    }
    .md\:py-3 {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
    .md\:pr-2 {
        padding-right: 0.5rem;
    }
    .md\:pt-20 {
        padding-top: 5rem;
    }
    .md\:align-middle {
        vertical-align: middle;
    }
    .md\:text-5xl {
        font-size: 3rem;
        line-height: 1;
    }
    .md\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
    .md\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
    .md\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}
@media (min-width: 1024px) {
    .lg\:float-right {
        float: right;
    }
    .lg\:float-left {
        float: left;
    }
    .lg\:-mx-6 {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }
    .lg\:my-8 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .lg\:mb-8 {
        margin-bottom: 2rem;
    }
    .lg\:block {
        display: block;
    }
    .lg\:hidden {
        display: none;
    }
    .lg\:w-3\/12 {
        width: 25%;
    }
    .lg\:w-1\/12 {
        width: 8.333333%;
    }
    .lg\:w-2\/12 {
        width: 16.666667%;
    }
    .lg\:w-9\/12 {
        width: 75%;
    }
    .lg\:w-4\/12 {
        width: 33.333333%;
    }
    .lg\:w-8\/12 {
        width: 66.666667%;
    }
    .lg\:w-6\/12 {
        width: 50%;
    }
    .lg\:p-6 {
        padding: 1.5rem;
    }
    .lg\:p-4 {
        padding: 1rem;
    }
    .lg\:py-4 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .lg\:pr-4 {
        padding-right: 1rem;
    }
    .lg\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .lg\:text-6xl {
        font-size: 3.75rem;
        line-height: 1;
    }
    .lg\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
    .lg\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
}